* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #C0C0C0;
}

.img-slide {
  position: relative;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  border: 1px solid #333;
  box-shadow: 0 0 2px #c0c0c0;
  background-color: #000;
}

.img-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prew,
.next {
  position: absolute;
  width: 5vw;
  height: 100%;
  top: 0;
  background-color: rgba(51, 51, 51, 0.7);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.next {
  right: 0;
}

.placeholder-slider {
  position: absolute;
  bottom: -3vw;
  left: 50%;
  transform: translate(-50%,0);
}
.slider-pointer,.active{
    background-color: #333;
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
  display: inline-block;
  margin: 5px;
}
.active{
    background-color: #fff;
}
.pause{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    font-size: 100px;
}
@media only screen and (max-width: 575px) {
  .img-slide {
    width: 90vw;
    height: 90vw;
  }
  
  .prew,
  .next {
    width: 10vw;
  }
}
